@layer utilities {
  .content {
    @apply max-w-screen-sm px-6 mx-auto lg:max-w-screen-lg;
  }

  .card {
    @apply py-16 px-8 rounded-xl shadow;
  }

  .link {
    @apply opacity-80 transition-opacity hover:opacity-100;
  }

  .column {
    @apply min-w-[theme(spacing.48)] grow-0 shrink-0 basis-1/3 flex flex-col gap-3 p-4 whitespace-nowrap;
  }

  .list {
    @apply flex flex-col gap-2 list-disc;
  }
}
